/* modal css */
.btn_div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.btn_div_cancel{
    margin-right: 12px;
}
 .modal-title{
    color: #c3272b !important;
    font-weight: 600 !important;
}
.expericence_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* designation css */

/* .designation_btn_div_cancel{
    mar
} */


/* employess css */
.create_employee_btn_div{
    display: flex;
    /* align-items: flex-end;
    justify-content: flex-end; */

    /* margin-top: 12px; */
}
.create_employee_btn_div .btn-outline-primary:hover{
    background-color: rgb(252, 241, 241) !important;
font-weight: 600;}
.settings_department_div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
}
.settings_department_div_cancel{
    margin-right: 12px;
}

/* main css */
.createmodel_attendence_div{
    margin: 12px;
}
.attendence_card_title{
    padding: 12px;
}
 .card-title{
color: #c3272b !important;
}
.create_attendence_search_position{
    position: absolute;
    top: 1px;
    right: 12px !important;
    z-index: 2;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.create_attendence_parent{
   
}
.editclose_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}
.edit_attendence_label{
    font-size: 16px;
    font-weight: 600;
    color: #c3272b;
}
.card_content_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 2%;
}
.card_content_div .card-header{
    background-color: #e6e6e5 !important;
}
.card_body_shadow{
    box-shadow: 1px 2px 20px lightgrey;
}
.card_content_div .card{
    border: 2px solid whitesmoke !important;
    margin-bottom: 12px !important;
}
.create_btn_class{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.icon_div_class{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.msg_records_title_correction{
    
    color: green;
    padding: 12px;
}
.row_page{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.row_page .css-yk16xz-control{
width: 75px !important;
}
.row_label{
    margin-right: 12px;
}